<div class="container">
  <form [formGroup]="ccForm" (ngSubmit)="submit()">
    <div>
      <div class="row">
        <label>Name on the card</label>
        <app-input [control]="nameOnCard"></app-input>
      </div>
      <div class="row">
        <label>Credit card number</label>
        <app-input [control]="cardNum"></app-input>
      </div>
      <div class="row">
        <label>Expiration</label>
        <app-input [control]="expiration" m="00/00"></app-input>
      </div>
      <div class="row">
        <label>CVV</label>
        <app-input [control]="cvv"></app-input>
      </div>
      <div class="row">
        <button type="submit" (click)="ccForm.reset()">Reset</button>
      </div>
      <div class="row">
        <button type="submit" [disabled]="!ccForm.valid">Continue to checkout</button>
      </div>      
    </div>
  </form>
</div>